Repository ueqri/pcl: changes, and which Azure pipelines are due for each by the changed paths.
All: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/documentation.yaml

Path conditions:
  .ci/azure-pipelines/azure-pipelines.yaml: any file but: README.md, CHANGES.md, CONTRIBUTING.md
  .ci/azure-pipelines/docs-pipeline.yaml: any of: doc
  .ci/azure-pipelines/documentation.yaml: any of: doc, README.md, CHANGES.md, CONTRIBUTING.md

Update azure-pipelines.yaml for Azure Pipelines
  .ci/azure-pipelines/azure-pipelines.yaml
Due: .ci/azure-pipelines/azure-pipelines.yaml

back to old version
  .ci/azure-pipelines/azure-pipelines.yaml
Due: .ci/azure-pipelines/azure-pipelines.yaml

[PR-TEST] only codes changed
  test/convert_image_to_point_cloud.py
Due: .ci/azure-pipelines/azure-pipelines.yaml

[PR-TEST] only doc changed
  doc/advanced/content/c_cache.rst
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/documentation.yaml

[PR-TEST] both code and doc changed
  doc/advanced/content/compiler_optimizations.rst
  test/features/test_base_feature.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml, .ci/azure-pipelines/docs-pipeline.yaml, .ci/azure-pipelines/documentation.yaml

test code changed
  registration/src/correspondence_estimation_backprojection.cpp
Due: .ci/azure-pipelines/azure-pipelines.yaml

[PR-TEST] README changed
  README.md
Due: .ci/azure-pipelines/documentation.yaml

Update build-pipeline.yaml for Azure Pipelines
  .ci/azure-pipelines/build-pipeline.yaml
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update documentation.yaml
  .ci/azure-pipelines/documentation.yaml
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update CMakeLists.txt
  CMakeLists.txt
Due: .ci/azure-pipelines/azure-pipelines.yaml

Update docs-pipeline.yaml for Azure Pipelines
  .ci/azure-pipelines/docs-pipeline.yaml
Due: .ci/azure-pipelines/azure-pipelines.yaml

Modify .cu to .cpp in CMakeLists
  cuda/features/CMakeLists.txt
  cuda/io/CMakeLists.txt
  cuda/sample_consensus/CMakeLists.txt
  cuda/segmentation/CMakeLists.txt
  gpu/features/CMakeLists.txt
  gpu/kinfu/CMakeLists.txt
  gpu/kinfu_large_scale/CMakeLists.txt
  gpu/octree/CMakeLists.txt
  gpu/people/CMakeLists.txt
  gpu/surface/CMakeLists.txt
  gpu/tracking/CMakeLists.txt
  gpu/utils/CMakeLists.txt
Due: .ci/azure-pipelines/azure-pipelines.yaml

Move pointer_shift.cu to device.hpp
  gpu/kinfu_large_scale/src/cuda/device.hpp
  gpu/kinfu_large_scale/src/cuda/pointer_shift.cu
Due: .ci/azure-pipelines/azure-pipelines.yaml
